@import '..//lib/variables';

.Header {
  background: $gray1;

  &__nav {
    height: 60px;
    position: relative;
    z-index: 1;

    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      height: 100%;
    }

    &--list-item {
      margin: 15px;
      display: flex;
      align-items: center;
      color: #fff;

      &.active {
        a {
          color: $green1;
        }
      }

      &:hover {
        color: $green1;
      }

      button {
        &:focus {
          outline: none;
        }

        cursor: pointer;
        background-color: transparent;
        border: none;
        color: inherit;
        font-size: 16px;
      }

      &.logo {
        a {
          font-family: 'Pacifico', cursive;
          font-size: 25px;
          color: $green1;
        }
      }

      &:last-of-type {
        margin-left: auto;
      }

      a {
        text-decoration: none;
        color: #fff;

        &:hover {
          color: $green1;
        }
      }
    }
  }
}
