.Header {
  background: dodgerblue;

  &__nav {
    height: 60px;

    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      height: 100%;
    }

    &--list-item {
      margin: 15px;
      display: flex;
      align-items: center;
      color: #fff;

      &.logo {
        a {
          font-family: 'Pacifico', cursive;
          font-size: 25px;
        }
      }

      &:last-of-type {
        margin-left: auto;
      }

      a {
        text-decoration: none;
        color: #fff;

        &:hover {
        }
      }
    }
  }
}
