.Toaster {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  padding: 8px;
  z-index: 100;
  height: 35px;
  transform: translateY(-100%);
  transition: transform 0.3s linear;

  animation-name: slideIn;
  animation-duration: 2s;
  animation-iteration-count: infinite;

  &__success {
    background-color: #4fe84f;
    color: white;
  }

  &__error {
    background-color: #e42626;
    color: white;
  }

  @keyframes slideIn {
    from {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }
}
