// @import 'libs/vars';
// @import 'libs/functions';
// @import 'libs/mixins';
// @import 'libs/vendor';
// @import 'libs/breakpoints';
// @import 'libs/grid';@import 'components/header';
@import 'components/flashcard';
@import 'components/header';

@import 'containers/decks';

// base
* {
  font-family: 'Roboto';
}

.heading-1 {
  color: #6f6f6f;
  font-size: 24px;
  font-weight: 500;
}
